.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #f3722c;
  color: #fff;
}

.score-item {
  font-size: 1.4rem;
  min-width: 300px;
  text-align: center;
}

.image-card {
  width: 200px;
  height: 200px;
  background-color: #43aa8b;
  font-size: 2rem;
  color: #fff;
}

.image-card-masked {
  background-color: #f9c74f;
  font-size: 2rem;
  color: #fff;
}
